/*!
This Highlight tokens should be used with:
- Tokyo Night Day
- Tokyo Night Storm
 */


/* Guide to the tokens: https://pygments.org/docs/tokens/ */
.highlight .hll { background-color: var(--yellow) }
.highlight__code  { background: var(--code-background); color: var(--code-text); }
.highlight .c { color: var(--code-comment) } /* Comment */
.highlight .err { color: var(--red) } /* Error */
.highlight .g { color: var(--code-text) } /* Generic */
.highlight .k { color: var(--blue); font-weight: bold; } /* Keyword */
.highlight .l { color: var(--code-text) } /* Literal */
.highlight .n { color: var(--constant) } /* Name */
.highlight .o { color: var(--blue); font-weight: bold; } /* Operator */
.highlight .x { color: var(--code-text) } /* Other */
.highlight .p { color: var(--magenta) } /* Punctuation */
.highlight .ch { color: var(--code-comment) } /* Comment.Hashbang */
.highlight .cm { color: var(--code-comment) } /* Comment.Multiline */
.highlight .cp { color: var(--yellow) } /* Comment.Preproc */
.highlight .cpf { color: var(--code-comment) } /* Comment.PreprocFile */
.highlight .c1 { color: var(--code-comment) } /* Comment.Single */
.highlight .cs { color: var(--code-comment) } /* Comment.Special */
.highlight .gd { color: var(--red) } /* Generic.Deleted */
.highlight .ge { color: var(--code-text); text-decoration: underline } /* Generic.Emph */
.highlight .gr { color: var(--code-text) } /* Generic.Error */
.highlight .gh { color: var(--code-text); font-weight: bold } /* Generic.Heading */
.highlight .gi { color: var(--code-text); font-weight: bold } /* Generic.Inserted */
.highlight .go { color: var(--code-text) } /* Generic.Output */
.highlight .gp { color: var(--code-text) } /* Generic.Prompt */
.highlight .gs { color: var(--code-text) } /* Generic.Strong */
.highlight .gu { color: var(--code-text); font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: var(--code-text) } /* Generic.Traceback */
.highlight .kc { color: var(--constant) } /* Keyword.Constant */
.highlight .kd { color: var(--magenta) } /* Keyword.Declaration */
.highlight .kn { color: var(--red) } /* Keyword.Namespace */
.highlight .kp { color: var(--red) } /* Keyword.Pseudo */
.highlight .kr { color: var(--red) } /* Keyword.Reserved */
.highlight .kt { color: var(--red) } /* Keyword.Type */
.highlight .ld { color: var(--code-text) } /* Literal.Date */
.highlight .m { color: var(--magenta) } /* Literal.Number */
.highlight .s { color: var(--green) } /* Literal.String */
.highlight .na { color: var(--green) } /* Name.Attribute */
.highlight .nb { color: var(--cyan); font-style: italic } /* Name.Builtin */
.highlight .nc { color: var(--yellow) } /* Name.Class */
.highlight .no { color: var(--blue); font-style: italic } /* Name.Constant */
.highlight .nd { color: var(--code-text) } /* Name.Decorator */
.highlight .ni { color: var(--code-text) } /* Name.Entity */
.highlight .ne { color: var(--red) } /* Name.Exception */
.highlight .nf { color: var(--blue) } /* Name.Function */
.highlight .nl { color: var(--green); font-style: italic } /* Name.Label */
.highlight .nn { color: var(--code-text) } /* Name.Namespace */
.highlight .nx { color: var(--blue) } /* Name.Other */
.highlight .py { color: var(--green) } /* Name.Property */
.highlight .nt { color: var(--red) } /* Name.Tag */
.highlight .nv { color: var(--white); font-style: italic } /* Name.Variable */
.highlight .ow { color: var(--magenta); font-weight: bold; } /* Operator.Word */
.highlight .w { color: var(--code-text) } /* Text.Whitespace */
.highlight .mb { color: var(--magenta) } /* Literal.Number.Bin */
.highlight .mf { color: var(--magenta) } /* Literal.Number.Float */
.highlight .mh { color: var(--magenta) } /* Literal.Number.Hex */
.highlight .mi { color: var(--magenta) } /* Literal.Number.Integer */
.highlight .mo { color: var(--magenta) } /* Literal.Number.Oct */
.highlight .sa { color: var(--string) } /* Literal.String.Affix */
.highlight .sb { color: var(--string) } /* Literal.String.Backtick */
.highlight .sc { color: var(--string) } /* Literal.String.Char */
.highlight .dl { color: var(--string) } /* Literal.String.Delimiter */
.highlight .sd { color: var(--string) } /* Literal.String.Doc */
.highlight .s2 { color: var(--string) } /* Literal.String.Double */
.highlight .se { color: var(--string) } /* Literal.String.Escape */
.highlight .sh { color: var(--string) } /* Literal.String.Heredoc */
.highlight .si { color: var(--string) } /* Literal.String.Interpol */
.highlight .sx { color: var(--string) } /* Literal.String.Other */
.highlight .sr { color: var(--string) } /* Literal.String.Regex */
.highlight .s1 { color: var(--string) } /* Literal.String.Single */
.highlight .ss { color: var(--string) } /* Literal.String.Symbol */
.highlight .bp { color: var(--code-text); font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: var(--green) } /* Name.Function.Magic */
.highlight .vc { color: var(--yellow); font-style: italic } /* Name.Variable.Class */
.highlight .vg { color: var(--code-text); font-style: italic } /* Name.Variable.Global */
.highlight .vi { color: var(--yellow); font-style: italic } /* Name.Variable.Instance */
.highlight .vm { color: var(--green); font-style: italic } /* Name.Variable.Magic */
.highlight .il { color: var(--magenta) } /* Literal.Number.Integer.Long */
